/scrap.js
/messagesByNumber.json
/noGameTodayOrInUsers.json
/allMessages.json
/soccerMonkeysChat_archive.txt
/soccerMonkeysChat.txt
/top20ActiveUsers.json
/savedContactsMap.json
/savedContacts.json
/inActiveUsersLastYear.json
/soccerMonkeysContacts.json
/yarn-error.log
